---
title: Index
---
{% assign sorted_collections = site.collections | sort: "position" %}
{% for collection in sorted_collections %}
	{% assign sorted_docs = collection.docs | sort: "position" %}
	{% for doc in sorted_docs %}
		<section class="doc-content">
			<section class="left-docs">
				<h3>
					<a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
						{% assign title = doc.title | split: '::' %}
						{% if title.size > 1 %}
							{% assign ntitle = '<span class="classname">' | append: title.first | append: "::</span>" | append:title.last %}
							{{ ntitle }}
						{% else %}
							{{ title }}
						{% endif %}
						{% if doc.type %}
							<span class="endpoint {{ doc.type }}"></span>
						{% endif %}
					</a>
				</h3>
				{% if doc.description %}
					<p class="description">{{doc.description}}</p>
				{% endif %}

				{{ doc.content }}
			</section>

			{% if doc.right_code %}
				<section class="right-code">
					{{ doc.right_code | markdownify }}
				</section>
			{% endif %}
		</section>
	{% endfor %}
{% endfor %}
